services:
  db:
    image: postgres:17-alpine
    env_file: ./.env
    ports:
      - "5433:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - labnet
    restart: unless-stopped

  login-service:
    image: ghcr.io/eoin1955/projectwork/app:c33efd847d5af04a7c2218a46070cce9ba37d0ff
    env_file: ./.env
    depends_on:
      - db
    ports:
      - "8080:8080"
    networks:
      - labnet
    restart: unless-stopped

  book-service:
    image: ghcr.io/anzelinaharevic/bookshopproject/app:079220e3b847f9016e471b65155567e8c35040ac
    env_file: ./.env
    depends_on:
      - db
      - login-service
    ports:
      - "8081:8081"
    networks:
      - labnet
    restart: unless-stopped

  payment-service:
    image: ghcr.io/lance-cruz/cicd1_project/app:a0dd670e4d06084f4c7d6abcc8a02ba7338a2e7a
    env_file: ./.env
    depends_on:
      - db
      - book-service
    ports:
      - "8082:8082"
    networks:
      - labnet
    restart: unless-stopped

  notification-service:
    image: ghcr.io/sighmantaneous/cicdproject/app:a81a33abbeb38b18bc60d3227eed7fa8c0475e8b
    env_file: ./.env
    depends_on:
      - db
      - payment-service
    ports:
      - "8083:8083"
    networks:
      - labnet
    restart: unless-stopped

volumes:
  postgres-data:

networks:
  labnet:
